NODE_ENV=development
PORT=5000
APP_VERSION=1.0.0

MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/devforge

JWT_SECRET=your_jwt_secret_key_minimum_32_characters
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_secret_key_minimum_32_characters
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:3000

FILE_TOKEN_SECRET=file_token_secret